 <launch>
 	
 	<param name="cv_camera_node/device_id"  value="0" />
    <node pkg="cv_camera" type="cv_camera_node" name="cv_camera_node" /> 
    <node pkg="without_nodelet" type="sub" name="sub" output="screen" />
    <node pkg="without_nodelet" type="pub" name="pub" output="screen" />
    
 </launch>
